.navbar {
    background-color: #1B191E;
}

.navbar-brand {
    letter-spacing: .4rem;
    
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-toggler-img {
    height: 32px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

@media screen and (max-width: 370px) {
    .navbar-toggler-img {
        width: 6.75vw;
    }
}